/* general */
html {
  height: 100%;
}

body {
  background-color: #007ea5;
  margin: 0, auto;
  font-family: tahoma;
  margin: 0px;
}

tr {
  border-radius: 9px;
  height: 50px;
  background-color: #d6d6d6;
}

td {
  border-radius: 9px;
  border: 2px solid #efefef;
  text-align: center;
  min-width: 100px;
}

input[type="radio"] {
  width: 10% !important;
  margin: 0px !important;
}

a {
  text-decoration-line: none;
  color: black;
}

/* menuBar and footer*/
.menuBar {
  z-index: 1;
  top: 0;
  position: fixed;
  display: block;
  width: 100%;
  background-color: #e4dede;
  height: 70px;
  padding-top: 25px;
  padding-bottom: 10px;
  margin: auto;
  margin-bottom: 20px;
}
.teamBar {
  left: 0;
  float: left;
  position: fixed sticky;
  display: block;
  width: 60px;
  background-color: #e4dede;
  padding-top: 4%;
  padding-right: 25px;
  padding-bottom: 10px;
  margin: auto;
  margin-bottom: 20px;
}
.menuBarOption {
  background-color: #bbb9b9;
  width: 9%;
  height: 40px;
  text-align: center;
  border-radius: 10px;
  padding: 5px;
  float: right;
  padding-top: 15px;
  padding-bottom: 2px;
  font-size: 150%;
  margin-right: 35px;
}

.search input[type="text"] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 85%;
  background: #f1f1f1;
  border-radius: 7px;
  height: 60px;
}

.search button {
  float: right;
  width: 15% !important ;
  padding: 8px;
  background-color: #2196f3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  border-radius: 6px;
  height: 60px;
}
.avg {
  width: 13%;
}
.search {
  width: 27% !important;
  height: 60px !important;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 97.3%;
  background-color: #bbb9b9;
  height: 10px;
  margin: auto;
  margin-top: 20px;
  padding-bottom: 15px;
  padding-top: 5px;
  padding-right: 20px;
  padding-left: 20px;
}
/* containers */

.container {
  border-radius: 9px;
  margin: auto;
  margin-top: 150px;
  width: unset;
  padding: 30px;
  background-color: #efefef;
}

.search {
  padding: 0px !important;
}
.search img {
  width: 100%;
  height: 100%;
  border-radius: 0px !important;
}

.search button:hover {
  background: #0b7dda;
}

a:hover {
  color: #007ea5;
}

img {
  height: 150px;
  width: 150px;
  border-radius: 100px;
}

.header {
  background-color: #9e9d9d;
  height: 20px;
  border-radius: 9px;
  font-weight: bold;
  font-size: 1.3em;
}
.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 80px;
  background-color: black;
  color: whitesmoke;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 20%;
  right: 105%;
  margin-left: -43px;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent black;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
.dropdown_img {
  width: 40px;
  height: 40px;
}
.dropbtn {
  background-color: #007ea500;
  height: 60px;
  width: 60px;
  padding-top: 15px;
  border: none;
  cursor: pointer;
}

.dropdown {
  padding-top: 0px !important;
  padding-bottom: 25px !important;
  width: 4% !important;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  float: left;
  position: absolute;
  background-color: #d6d6d6;
  width: 180px;
  width: unset;
  border-radius: 7px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content button {
  border-radius: 7px;
  color: black;
  font-size: 0.7em;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border: none;
  width: 180px;
  background-color: #007ea500;
}

.dropdown-content button:hover {
  background-color: #bbb9b9;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropright {
  display: none;
  width: 360px;
  height: 132px;
  position: relative;
  padding-top: 15px;
}

.dropdown:hover .dropright {
  display: block;
}
.dropright-content {
  position: relative;
  display: none;
  float: right;
  background-color: rgba(255, 255, 255, 0);
  width: 180px;
  border-radius: 7px;
  z-index: 1;
  height: 133px;
}
.dropdown-content:hover .dropright-content {
  display: block;
}
#tablet-input {
  width: 180px;
  height: 43px;
  border-radius: 7px;
  margin-bottom: 5px;
}
#comp-name {
  position: absolute;
  bottom: 45;
  left: 0;
  width: 180px;
  height: 43px;
  border-radius: 7px;
}
#password {
  position: absolute;
  bottom: 1;
  left: 0;
  width: 180px;
  height: 43px;
  border-radius: 7px;
}
#tablet-a:hover #tablet-input {
  visibility: visible;
}
